@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar (keep scroll functionality) */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* smooth scrolling for chat area */
html {
  scroll-behavior: smooth;
}
